nav ul a,
 .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #ooe676;
}

#logo-container {
    padding-left: 20px;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-main {
    height: 527px;
    width: 100%;
}

.parallax-container .section {
    width: 100%;
    position: absolute;
}

.section {
    padding-top: 0;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 0%;
    }
    img.uaq-logo {
        max-width: 35%;
        height: auto;
        margin-right: 1rem;
    }
    nav ul a,
    .brand-logo {
        color: #444;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

@media only screen and (min-width: 992px) {
    img.uaq-logo {
        max-width: 15%;
        height: auto;
        margin-right: 1rem;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.flecha-bajar a {
    display: inline-block;
    color: #fff;
    font-size: 5rem;
    animation: flecha-animada 2s ease-in-out infinite;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}

.end-paralax {
    height: auto;
}

.justify-text {
    text-align: justify;
}

.flex-rows {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* -webkit-flex-direction: column; */
    -ms-flex-direction: column;
    /* flex-direction: column; */
    flex-flow: wrap;
}

.flex-rows .col {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.logo-size {
    font-size: inherit;
}

.tap-target-content {
    position: relative;
    FONT-FAMILY: monospace;
    COLOR: beige;
    FONT-SIZE: -webkit-xxx-large;
}

.font-aww-color-follow {
    color: white;
}

.UAQ-HEAD {
    font-family: 'Comfortaa', cursive;
    margin-top: 4rem;
}

.GREAT-TITTLE {
    font-family: 'Comfortaa', cursive;
}

.modal-justyfi-text {
    text-align: justify;
}

.modal-center-text {
    text-align: center;
}

.center-text {
    text-align: center;
}

.row .title-modal {
    color: beige;
    padding: inherit;
}

.row .fill-space {
    display: inline-grid;
}

.main-row-card {
    margin-top: 5rem;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #00e676;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    display: none;
    transition: all .5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: #b9f6ca;
}

.card .card-buttons a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #76ff03;
}

.card-view {
    display: flex;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* flex-flow: column; */
}

img.responsive-img,
video.responsive-video {
    max-width: 40%;
    height: auto;
}

.under {
    margin-top: auto;
}

.cards-view-container {
    display: flex;
    flex-direction: column;
}

#cargando{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white url('../img/loader.gif') no-repeat center center;
    background-color: white;
}

.procesando{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white url('../img/procesando.gif') no-repeat center center;
    background-color: white;
}


.btn-right{
    margin:1rem;
}

.btn-left{
    margin:1rem;
}

@media only screen and (min-width: 600px) {
.btn-right{
    margin:0rem;
    text-align:right;
}

.btn-left{
    margin:0rem;
    text-align:left;
}
}
.politica {
    margin-left:auto; 
    margin-right: auto;
    height:215px;
    overflow:auto;
    text-align: justify;
    padding-right: 5px;
}

.cardBlue{
    background-color: #1B4F72;
}

.modal-logos{
        background: white;
    max-width: 15%;
}
