/*!
 * Start Bootstrap - Stylish Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: floralwhite;
}

.text-vertical-center h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: floralwhite;
}

.blueWords {
    color: #007bff;
}


/* Custom Button Styles */

.btn-dark {
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

.btn-light {
    color: #333;
    border: none;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, .8);
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}


/* Side Menu */

#sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    right: 0;
    overflow-y: auto;
    width: 250px;
    height: 100%;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    transform: translateX(250px);
    background: #222;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, .2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 18px;
    line-height: 55px;
    height: 55px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    position: fixed;
    z-index: 1500;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    z-index: 1500;
    right: 250px;
    width: 250px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.toggle {
    font-size: 1em;
    margin: 5px 5px 0 0;
    padding: 15px 20px;
}


/* Header */

.header {
    position: relative;
    display: table;
    width: 100%;
    height: 20%;
    background: url(../img/support/SoporteBaner.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    padding: 20px 0;
/*    padding-top: 15%;*/
}

.title-header {
    color: #116cff;
    font-family: sans-serif;
    font-style: oblique;
    text-shadow: 0 0 20px rgba(0,0,0,0);
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}

/* About */




/* SeccionTitle */

.SeccionTitle {
    padding: 9px 0;
}


/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: .8;
}


/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}


/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}


/* Footer */

footer {
    padding: 200px 0;
}

#to-top {
    font-size: 1em;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    padding: 15px 20px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px);
}

.padding-square {
    margin-top: 5rem;
}

.procesando{
    z-index: 2500;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white url('../img/loader.gif') no-repeat center center;
    background-color: white;
    overflow: hidden;
}

.barra-lateral{
    position: fixed;
    z-index: 1000;
    left: 3px;
/*    overflow-y: auto;*/
    width: 250px;
    height: 100%;
/*
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    transform: translateX(250px);
*/
    background: #222;
}

.color-head {
    background-color: white;
}

.name-header {
    font-family: sans-serif;
    font-size: 12px;
    font-style: oblique;
}

.cuestion-header {
    font-family: sans-serif;
    font-size: 20px;
    font-style: oblique;
}

.btn-responder {
    padding-top: 3px;
}

.card-teme {
    padding-bottom: 15px;
}

.img-support {
    width: 150px;
    height: 150px;
}

.text-fecha{
    font-size: 10px;
    padding-left: 20px;
}