body {
	background: url("../img/login-background.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}

/* Typography */
h1#title {
	font-family: 'Roboto Slab', serif;
	font-weight: 250;
	font-size: 3.0em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 0px;
	max-width: 600px;
	text-align: center;
	position: relative;
	top: 0px;
}

.imagen{
    float:left;clear:left; 
    position: absolute;
    height: 20%;
    left: 20px;
    top: 20px;
}

.imagen2{
    float:right;clear:right;
    position: absolute;
    height: 20%;
    right: 20px;
    top: 20px;
}


h1#title span span {
	font-weight: 300;
}

h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 1.1em;
	line-height: 2.8em;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #db0d15;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}


/* Layout */
.container {
	margin: 0;
}

.top {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 9%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.login-box {
	background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 0px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.login-box .box-header {
	background-color: #53e031;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.login-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #47be2b;
}

.login-box input:focus {
	outline: none;
	border-color: #53e031;
	transition: 0.5s;
	color: #47be2b;
}

.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #53e031;
	cursor:pointer;
	outline: none;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: #53e031!important;
	transition: 0.5s;
}

.invalid {
	color: #f21818!important;
    border-color: #f21818!important;
	transition: 0.5s;
}

.valid {
	color: #00c4ff!important;
    border-color: #53e031;
	transition: 0.5s;
}

.top-content{
    height: 20%;
}

/* Animation Delay */
#logo {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}


.login-box {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}

.imagen {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}

.imagen2 {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}

#cargando{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white url('../img/loader.gif') no-repeat center center;
    background-color: white;
}

.procesando{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white url('../img/procesando.gif') no-repeat center center;
    background-color: white;
}

.hide {
  display: none !important;
}