body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.wait {
    background: url(../img/dpwait.gif) no-repeat center #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
}
.overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    color:#fff;
}
.overlay-text{
 margin-top:30rem;   
}
#modal-pdf{
     background: url(../img/file-charge.gif) no-repeat center #fff;
}
#modal-pdf-pago{
    overflow-y: hidden;
    display: flex;
}

#pago1 {
    background: url(../img/file-charge.gif) no-repeat center #fff;
    width: 100%;
    height: 100%;
    text-align:center;
}

#pago2 {
    width: 100%;
    height: 100%;
}
.pago-tab {
    display: initial;
}
nav ul a,
.brand-logo {
    color: #fff;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color:#2196f3;
}

background .ea.k {
    opacity: 20;
}

.nav-consulta-aspirante {
    color: #fff;
    background-color:#2196f3;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: xx-large;
}

#logo-container {
    padding-left: 20px;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-main {
    height: 527px;
    width: 100%;
}

.parallax-container .section {
    width: 100%;
    position: absolute;
}

.section {
    padding-top: 0;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 0%;
    }
    img.uaq-logo {
        max-width: 35%;
        height: auto;
        margin-right: 1rem;
    }
    nav ul a,
    .brand-logo {
        
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

@media only screen and (min-width: 992px) {
    img.uaq-logo {
        max-width: 15%;
        height: auto;
        margin-right: 1rem;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.flecha-bajar a {
    display: inline-block;
    color: #fff;
    font-size: 5rem;
    animation: flecha-animada 2s ease-in-out infinite;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}

.end-paralax {
    height: auto;
}

.justify-text {
    text-align: justify;
}

.flex-rows {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* -webkit-flex-direction: column; */
    -ms-flex-direction: column;
    /* flex-direction: column; */
    flex-flow: wrap;
}

.flex-rows .col {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.logo-size {
    font-size: inherit;
}

.tap-target-content {
    position: relative;
    FONT-FAMILY: monospace;
    COLOR: beige;
    FONT-SIZE: -webkit-xxx-large;
}

.font-aww-color-follow {
    color: white;
}

.UAQ-HEAD {
    font-family: 'Comfortaa', cursive;
    margin-top: 4rem;
}

.GREAT-TITTLE {
    font-family: 'Comfortaa', cursive;
}

.modal-justyfi-text {
    text-align: justify;
}

.modal-center-text {
    text-align: center;
}

.center-text {
    text-align: center;
}

.row .title-modal {
    color: beige;
    padding: inherit;
}

.row .fill-space {
    display: inline-grid;
}

.main-row-card {
    margin-top: 5rem;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #00e676;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    display: none;
    transition: all .5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: #b9f6ca;
}

.card .card-buttons a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #76ff03;
}

.card-view {
    display: flex;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* flex-flow: column; */
}

img.responsive-img,
video.responsive-video {
    max-width: 40%;
    height: auto;
}

.under {
    margin-top: auto;
}

.cards-view-container {
    display: flex;
    flex-direction: column;
}

#cargando {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white url('../img/loader.gif') no-repeat center center;
    background-color: white;
}

.procesando {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white url('../img/procesando.gif') no-repeat center center;
    background-color: white;
}


/* CONSULTAS */

.nav-consultas {
    color: #fff;
    background-color: #00c853;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: xx-large;
}

.ea.k {
    color: #fff;
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: sticky;
}

.pinned {
    position: fixed !important;
}

.switch label {
    cursor: pointer;
    color: #fff;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ff1744;
}

.switch label .lever:after {
    background-color: #ffcdd2;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #ff1744;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

nav ul a {
    display: flex;
    flex-direction: inherit;
    align-items: center;
}

.face {
    margin-right: 1rem;
}

.dash-card-one {
    background: #FF5964;
}

.dash-card-two {
    background: #464655;
}

.dash-card-three {
    background: #29bf12;
}

.h5-dash {
    margin-top: auto;
}

.dash-card-date {
    padding: 2px;
}

.dash-card {
    border-radius: 6px;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}



.fixed-action-btn.horizontal ul {
    height: 150%;
    width: 180px;
}


.text-center {
    text-align: center;
}

.chip {
    height: auto;
}

.font-40 {
    font-size: 40px;
}

.flex-direct {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .card-strech {
    align-items: stretch;
}

#modal-pdf {
    overflow-y: hidden;
}





