body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.preloader {
    background: url(../img/dp.gif) no-repeat center #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    color:#fff;
}
.overlay-text{
 margin-top:30rem;   
}

.wait {
    background: url(../img/dpwait.gif) no-repeat center #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
}

#modal-pdf{
    overflow-y: hidden;
    display: flex;
}

#pago1 {
    background: url(../img/file-charge.gif) no-repeat center #fff;
    width: 100%;
    height: 100%;
    text-align:center;
}

#pago2 {
    width: 100%;
    height: 100%;
}
.pago-tab {
    display: initial;
}

nav ul a,
.brand-logo {
    color: #fff;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 0%;
    }
    img.uaq-logo {
        max-width: 35%;
        height: auto;
        margin-right: 1rem;
    }
    nav ul a,
    .brand-logo {
        text-align: center;
    }
}

.justify-text {
    text-align: justify;
}

.card-view {
    display: flex;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* flex-flow: column; */
}

.cards-view-container {
    display: flex;
    flex-direction: column;
}


/* CONSULTAS */

.nav-consultas {
    color: #fff;
    background-color: #00c853;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: xx-large;
}

.ea.k {
    color: #fff;
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
}

.switch label {
    cursor: pointer;
    color: #fff;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ff1744;
}

.switch label .lever:after {
    background-color: #ffcdd2;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #ff1744;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

nav ul a {
    display: flex;
    flex-direction: inherit;
    align-items: center;
}

.face {
    margin-right: 1rem;
}

.dash-card-one {
    background: #FF5964;
}

.dash-card-two {
    background: #464655;
}

.dash-card-three {
    background: #29bf12;
}

.h5-dash {
    margin-top: auto;
}

.dash-card-date {
    padding: 2px;
}

.dash-card {
    border-radius: 6px;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.col-one {
    background: #ef5350;
}

.col-two {
    background: #ec407a;
}

.col-three {
    background: #ab47bc;
}

.col-for {
    background: #673ab7;
}

.col-five {
    background: #2196f3;
}

.fixed-action-btn.horizontal ul {
    height: 150%;
    width: 180px;
}

embed {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.text-center {
    text-align: center;
}

.chip {
    height: auto;
}

.font-40 {
    font-size: 40px;
}

.flex-direct {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .card-strech {
    align-items: stretch;
}

nav .period-field {
    margin: 1px;
}

nav i.time_machine {
    font-size: 10rem;
    display: inline;
    background: #fff;
    border-radius: 100px;
}

nav.fill-screen {
    height: inherit;
}

.dash-card-info {
    padding: 2px;
    margin-top: 3rem;
}

i.empty{
    font-size:10rem;
    margin:4rem;
}
